@using RazorLight;
@using WebServer.Extensions;
@{
    ViewBag.Title = (ExpandoObjectExt.TryGetProperty(ViewBag, "Title", out object title)
        ? $"{title} - " : string.Empty
    ) + "MySite";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/common.css" type="text/css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body class="centerize stickyFooter">
    @RenderBody()
</body>
</html>